ktor {
    deployment {
        port = 3000
        port = ${?PORT}
    }
    application {
        modules = [ com.marknjunge.ApplicationKt.module ]
    }
}

database {
    url = "jdbc:postgresql://localhost:32768/global-gym"
    username = "postgres"
    password = "postgres"
}
